.header {
    background: #000;
    font-size: 24pt;
    color: #fff;
    height: 2em;
    align-items: center;
    display: flex;
    padding-left: 2em;
    margin-bottom: 1em;
}

.header-logo {
    background-image: url(../img/Logo_200x200.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em 0 -1.5em;
}

.data {
    background: #E1F5FE;
    border-radius: 4px;
    border: 1px solid #81D4FA;
    padding: 3px;
    width: auto;
}