.header {
    background: #000;
    font-size: 24pt;
    color: #fff;
    height: 2em;
    align-items: center;
    display: flex;
    padding-left: 2em;
    margin-bottom: 1em;
}

.header-logo {
    background-image: url(../img/Logo_200x200.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em 0 -1.5em;
}

.data {
    background: #E1F5FE;
    border-radius: 4px;
    border: 1px solid #81D4FA;
    padding: 4px;
    width: 450px;
}

.info {
    background-color: #F9FBE7;
    border: 3px solid #CDDC39;
    border-radius: 6px;
    padding: 0.8em;
    line-height: 1.5em;
}

.navbar-item {
    background-color: #607d8b00;
    padding: 2px;
    margin-right: 1em;
    margin-left: 1em;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    min-width: 20px;
}

.fa-warning {
    float: left;
    margin-right: .5em;
    padding-top: .2em;
    color: #C0CA33;
}

.aligned {
    display: flex;
    justify-items: center;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.label-aligned {
    width: 210px;
    align-self: flex-start;
    text-align: end;
    margin-right: 0.5em;
}

.ml-1 {
    margin-left: 1em;
}