<div class="header"><div class="header-logo"></div><div>{{ _('SMuFF Properties') }}</div></div>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Serial Port:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.tty" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Baudrate:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.baudrate" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Firmware Info:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.firmware_info" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Active Tool:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.tool" readonly />
            </div>
        </div>

        <div>For connection details please visit <a href="https://github.com/technik-gegg/OctoPrint-Smuff" target="_blank">Github</a>.</div>
    </form>
</div>
