<div id="id="navbar_plugin_SMuFF"" class="navbar-text">
    <span class="navbar-item navbar-item-disc" id="SMuFF_navbar_item">
        <span id="SMuFF_navbar_tool" data-bind="attr: { title: 'SMuFF Tool' }, html: _settings.tool()"></span>
        &nbsp;<i id="SMuFF_navbar_feeder" class="fa fa-times-circle" data-bind="attr: { title: 'Feed', class: _settings.feeder_end() }"></i>
    </span>
</div>