<div class="header"><div class="header-logo"></div><div>{{ _('SMuFF Properties') }}</div></div>
<div id="settings_plugin_SMuFF">
    <div>
        <p>For connection details please visit <a href="https://github.com/technik-gegg/OctoPrint-Smuff" target="_blank">Github</a>.</p>
    </div>
    <form class="form-horizontal">
        <div class="serial-hint">
            <b>Notice:</b><br/>
            If you've connected the SMuFF through USB, do a <span class="code">ls -l /dev/serial/by-id</span> on the console and pick the device named <span class="code">usb-LeafLabs_Maple-if00</span>
            without including the <span class="code">/dev/</span> in the device name!
        </div>
        <div class="aligned">
            <label class="label-aligned">{{ _('Serial Port / Baudrate:') }}</label>
            <div class="ml-1">
                <input type="text" style="width: 20em" class="input-block-level" data-bind="value: _settings.tty">&nbsp;&nbsp;
                <select style="max-width: 8em;" data-bind="value: _settings.baudrate">
                    <option value="230400">230400</option>
                    <option value="115200">115200</option>
                    <option value="57600">57600</option>
                    <option value="38400">38400</option>
                    <option value="19200">19200</option>
                    <option value="9600">9600</option>
                    <option value="4800">4800</option>
                </select>
            </div>
        </div>
        <div class="aligned">
            <label class="label-aligned">{{ _('Communication Timeouts:') }}</label>
            <div class="ml-1">
                {{_('Default:')}}&nbsp;<input type="number" min="1" max="100" style="width: 5em" class="input-block-level" data-bind="value: _settings.timeout1">&nbsp;{{_('sec.')}}&nbsp;&nbsp;&nbsp;
                {{_('On tool change:')}}&nbsp;<input type="number" min="1" max="100" style="width: 5em" class="input-block-level" data-bind="value: _settings.timeout2">&nbsp;{{_('sec.')}}
            </div>
        </div>
        <div class="aligned">
            <label class="label-aligned">{{ _('Auto load:') }}</label>
            <div class="ml-1">
                <input class="checkbox" type="checkbox" style="width: 2em" class="input-block-level" data-bind="checked: _settings.autoload">
                <span class="serial-hint" style="margin-left: 1em;">Tick this option only if you're using the new "Shared Stepper" feature of the SMuFF.</span>
            </div>
        </div>

        <div class="aligned">
            <label class="label-aligned">{{ _('Firmware Info:') }}</label>
            <div class="ml-1">
                <div id="SMuFF_setting_firmware" class="data" data-bind="html: _settings.firmware_info()"></div>
            </div>
        </div>

        <div class="aligned">
            <label class="label-aligned">{{ _('Active Tool:') }}</label>
            <div class="ml-1">
                <span id="SMuFF_setting_tool" class="data" data-bind="html: _settings.tool()"></span>
            </div>
        </div>

        <div class="aligned">
            <label class="label-aligned">{{ _('Feeder:') }}</label>
            <div class="ml-1">
                <span style="margin-right: 1em;">
                    1&nbsp;<i id="SMuFF_setting_feeder" class="fa fa-times-circle" data-bind="attr: { class: _settings.feeder_end() }"></i>
                </span>
                <span style="margin-left: 1em;">
                    2&nbsp;<i id="SMuFF_setting_feeder2" class="fa fa-times-circle" data-bind="attr: { class: _settings.feeder2_end() }"></i>
                </span>
            </div>
        </div>
        
        <div style="width: 100%">
            <p>
                <div class="info">
                    <i class="fa fa-warning fa-2x"></i>
                    Don't forget to add / modify the <a href="#settings_gcodeScripts" data-toggle="tab">GCODE Scripts</a> <b>Before Tool Change</b> and <b>After Tool Change</b> according to your printers environment.
                </div>
            </p>
        </div>

    </form>
</div>
