<div class="header"><div class="header-logo"></div><div>{{ _('SMuFF Properties') }}</div></div>
<div id="settings_plugin_SMuFF">
    <div>
        <p>For connection details please visit <a href="https://github.com/technik-gegg/OctoPrint-Smuff" target="_blank">Github</a>.</p>
    </div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Serial Port / Baudrate:') }}</label>
            <div class="controls">
                <div id="SMuFF_setting_tty" class="data" data-bind="html: _settings.tty()" />&nbsp;&nbsp;
                <div id="SMuFF_setting_baudrate" class="data" data-bind="html: _settings.baudrate()" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Firmware Info:') }}</label>
            <div class="controls">
                <div id="SMuFF_setting_firmware" class="data" data-bind="html: _settings.firmware_info()" readonly></div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Active Tool:') }}</label>
            <div class="controls">
                <div id="SMuFF_setting_tool" class="data" data-bind="html: _settings.tool()" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Feeder:') }}</label>
            <div class="controls">
                1&nbsp;<input type="checkbox" id="SMuFF_setting_feeder"   class="input-checkbox" data-bind="checked: _settings.feeder_end()" readonly />&nbsp;&nbsp;
                2&nbsp;<input type="checkbox" id="SMuFF_setting_feeder2"  class="input-checkbox" data-bind="checked: _settings.feeder2_end()" readonly />
            </div>
        </div>

    </form>
</div>
