<div id="id="navbar_plugin_SMuFF"" class="navbar-text">
    <span id="SMuFF_tool" class="navbar-item" data-bind="attr: { title: 'SMuFF Tool' }, html: _settings.tool()">
        &nbsp;<i id="SMuFF_setting_feeder" class="fa fa-times-circle" data-bind="attr: { class: _settings.feeder_end() }"></i>
    </span>
</div>